<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
</head>
<body>
    <h2>Form Update User:</h2><br><br>
    <form action="/api/user/<%= usergames.id %>?_method=PUT" method="POST">
        <label>Username:</label>
        <input type="text" name="username">
        <br><br>
        <label>Password:</label>
        <input type="password" name="password">
        <br><br>
        <label>Nama:</label>
        <input type="text" name="nama">
        <br><br>
        <label>Alamat:</label>
        <textarea name="alamat">
        </textarea>
        <br><br>
        <label>Waktu Main</label>
        <input type="time" name="waktu">
        <br><br>
        <label>Skor</label>
        <input type="text" name="skor">
        <br><br>
        <input type="hidden" nama="_method" value="PUT">

        <button type="submit" value="update">Update Akun</button>
    </form>
</body>
</html>