<div class="container">
    <div class="col">
        <div class="row">
            <div class="exit">
                <div class="polos"></div>
            </div>
            <div class="logo"></div>
            <h1 class="judul">ROCK PAPER SCISSORS</h1>
        </div>
    </div>
    <div id="suit" class="row">
        <div class="col-sm-4">
            <h3 class="judul2"><b>PLAYER</b></h3>
            <div id="player">
                <div class="pilihPlayer">
                    <img src="../../img/batu.png" class="batu">
                </div>
                <div class="pilihPlayer">
                    <img src="../../img/gunting.png" class="gunting">
                </div>
                <div class="pilihPlayer">
                    <img src="../../img/kertas.png" class="kertas">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="result"></div>
            <h1 class="vs">VS</h1>
            <img src="../../img/refresh.png" class="refresh" id="restart">
        </div>
        <div class="col-sm-4">
            <h3 class="judul2"><b>COMPUTER</b></h3>
            <div id="comp">
                <div class="pilihanComp">
                    <img src="../../img/Batu.png" class="Batu">
                </div>
                <div class="pilihanComp">
                    <img src="../../img/Gunting.png" class="Gunting">
                </div>
                <div class="pilihanComp">
                    <img src="../../img/Kertas.png" class="Kertas">
                </div>
            </div>
        </div>
    </div>
</div>