<section>
    <div class="container-fluid">
        <div class="bg-img2">
            <div class="row">
                <div class="col sm 5">
                        <h5 class="judul3">What's so special?</h5>
                        <h1 class="judul4">THE GAMES</h1>
                    </div>
                    <div class="col-sm-7">
                        <div class="img">
                            <div class="segitiga1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>