<section>
    <div class="container-fluid">
        <div class="bg-img3">
            <div class="col">
                <h5 class="judul5">What's so special?</h5>
                <h1 class="judul6">FEATURES</h1>
                <div class="list">
                    <ul>
                        <li class="list1"><p class="tulisan">TRADITIONAL GAMES</p></li>
                        <p class="tulis">If you miss your childhood, we provide many traditional games here</p>
                        <div class="garis"></div>
                        <li class="list2"><p class="tulisan">GAME SUIT</p></li>
                        <li class="list3"><p class="tulisan">TBD</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>