<div class="container-fluid">
    <div class="bg-img">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <h5 class="navbar-brand">LOGO</h5>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active nav-left">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Q&A</a>
                        </li>
                        <li class="nav-item nav-right">
                            <a class="nav-link" href="#">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <h1 class="judul1">PLAY TRADITIONAL GAME</h1>
            <h6 class="judul2">Experience new traditional game play</h6>
            <button type="button" onclick="location.href='../games'" class="btn btn-primary text-center">TRIAL</button>
            <p class="next">THE STORY</p>
            <div class="segitiga"></div>
        </div>
    </div>
</div>