<section>
    <div class="container-fluid">
        <div class="bg-img6">
            <div class="col">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="col-l-2 gambar-piala"></div>
                    </div>
                    <div class="col-sm-7" style="height: 75vh;">
                        <p class="tulis4">Want to stay in<br>touch?</p>
                        <h1 class="judul10">NEWSLETTER<br>SUBSCRIBE</h1>
                        <p class="tulis5">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
                        <div class="row g-2">
                            <div class="col">
                              <div class="floating-label">
                                <input class="form-control floating-input" style="background-color: dimgray;" type="text" placeholder="yourname@binar.co.id">
                                <label>Your Email Address</label>
                              </div>
                            </div>
                            <div class="col btn-subscribe">
                                <button type="button" class="btn btn-primary subscribe text-center">Subscribe Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer -->
                <footer class="footer">
                    <div class="col">
                        <div class="row">
                            <div class="tulis6" id="nav-footer">
                                <ul class="nav navbar-collapse">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">MAIN</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">ABOUT</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">GAME FEATURES</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">SYSTEM REQUIRMENTS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">QUOTES</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sosmed">
                                <img src="assets/img/facebook.svg" alt="Facebook">
                                <img src="assets/img/twitter.svg" alt="Twitter">
                                <img src="assets/img/Vector.svg" alt="Youtube">
                                <img src="assets/img/twitch.svg" alt="Twitch">
                            </div>
                        </div>
                    </div>
                    <div class="col line"></div>
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-6 copy"> © 2018 Your Games, Inc. All Rights Reserved</div>
                            <div class="col-sm-6 privacy">Privacy Policy | Terms of Services | Code of Conduct </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</section>