<section>
    <div class="container-fluid">
        <div class="bg-img4">
            <div class="col">
                <h5 class="judul7 text-center">Can my computer run this game?</h5>
                <div class="row">
                    <h1 class="judul8">SYSTEM<br>REQUIRMENTS</h1>
                </div>
                <div class="row">
                    <table class="table">
                        <tr>
                            <td>
                                <h6 class="kolom">OS:</h6><br>
                                <p class="tulis2">Windows 7 64-bit only<br>(No OSX support at this time)</p>
                            </td>
                            <td>
                                <h6 class="kolom">PROCESSOR:</h6><br>
                                <p class="tulis2">Intel Core 2 Duo @ 2.4 GHz or<br>AMD Ashlon X2 @ 2.8GHz</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="kolom">MEMORY:</h6><br>
                                <p class="tulis2">4 GB RAM</p>
                            </td>
                            <td>
                                <h6 class="kolom">STORAGE:</h6><br>
                                <p class="tulis2">8 GB available space</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h6 class="kolom">GRAPHICS:</h6><br>
                                <p class="tulis2">NVIDIA GeForce GTX 660 2GB or <br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>