<section>
    <div class="container-fluid">
        <div class="bg-img5">
            <div class="col">
                <div class="row">
                    <div class="col-sm-6" style="padding-left: 140px;height: 100vh;">
                        <h1 class="judul9">TOP SCORES</h1>
                        <p class="tulis3">The top score from various games provided <br>on this platform</p>
                        <button type="button" class="btn btn-primary see text-center">see more</button>
                    </div>
                    <div class="col-sm-6">
                        <div class="jumbotron col-sm-6 mt" style="background-color:dimgray;margin-left: 7rem;">
                            <img src="img/orang1.jpg" class="img-circle" alt="Foto Profil 1">
                            <img src="img/twitter.svg" class="ikon-twitter" alt="twitter">
                            <p class="name"><b>Evan Lahti</b></p>
                            <p class="job">PC Gamer</p>
                            <p class="quote">"One of my gaming hightlights of the year"</p>
                            <p class="date">October 18, 2019</p>
                        </div>
                        <div class="jumbotron col-sm-6" style="background-color:dimgray;">
                            <img src="img/orang2.jpg" class="img-circle" alt="Foto Profil 2">
                            <img src="img/twitter.svg" class="ikon-twitter" alt="twitter">
                            <p class="name"><b>Jada Griffin</b></p>
                            <p class="job">Nerdreactor</p>
                            <p class="quote">"The next big thing in the world of streaming and survival games."</p>
                            <p class="date">December 21, 2018</p>
                        </div>
                        <div class="jumbotron col-sm-6" style="background-color:dimgray;margin-left: 5rem;">
                            <img src="img/orang3.jpg" class="img-circle" alt="Foto Profil 3">
                            <img src="img/twitter.svg" class="ikon-twitter" alt="twitter">
                            <p class="name"><b>Aaron Williams</b></p>
                            <p class="job">Uproxx</p>
                            <p class="quote">"Snoop Dogg Playing the Wildly Entertaining 'SOS' is Ridiculous."</p>
                            <p class="date">December 24, 2019</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>