<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>
      <h2>Lengkapi data anda:</h2><br>
      <h5>Mohon lengkapi datanya kak  </h5>
        <form action="/user" method="POST">
          <label>Nama:</label>
          <input type="text" name="nama">
          <br><br>
          <label>Alamat:</label>
          <textarea name="alamat">
          </textarea>
          <br><br>
          <label>Waktu Main</label>
          <input type="time" name="waktu">
          <br><br>
          <label>Skor</label>
          <input type="text" name="skor">
          <br><br>
  
          <button value="create">Tambah Data</button>
      </form>
  </body>
</html>