<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>
    <h2>Form Login:</h2><br>
        <form action="/login" method="POST">
          <label>Username:</label>
          <input type="text" name="username">
          <br><br>
          <label>Password:</label>
          <input type="password" name="password">
          <br><br>
          <button value="login">Login</button>
        </form>
  </body>
</html>