<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>
      <h2>Form Register:</h2><br>
        <form action="/register" method="POST">
          <label>Username:</label>
          <input type="text" name="username">
          <br><br>
          <label>Password:</label>
          <input type="password" name="password">
          <br><br>
          <!-- <label>Nama:</label>
          <input type="text" name="nama">
          <br>
          <label>Alamat:</label>
          <textarea name="alamat">
          </textarea>
          <br>
          <label>Waktu Main</label>
          <input type="time" name="waktu">
          <br>
          <label>Skor</label>
          <input type="text" name="skor">
          <br> -->
  
          <button value="create">Tambah Akun</button>
      </form>
  </body>
</html>