body{
    background-color: #8a7b64;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: auto;
}

.container{
    width: fit-content;
    height: 100vh;
    margin-top: 0px;
}

.exit{
    height: 0px;
    width: 0px;
    border-right: solid 40px #724C21;
    border-top: solid 20px transparent;
    border-bottom: solid 20px transparent;
    margin-top: 15px;
}

.polos{
    height: 0px;
    width: 0px;
    border-right: solid 20px #8a7b64;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    margin-top: -10px;
    margin-left: 20px;
}

.logo{
    width: 46px;
    height: 46px;
    margin-left: 25px;
    margin-top: 12px;
    background-image: url(../../assets/img/logo1.png);
    background-size: cover;
}

.judul{
    color: #F9B23D;
    font-weight: 700;
    font-size: 28px;
    margin-left: 20px;
    margin-top: 15px;
}

#suit{
    margin-top: 45px;
    height: 100;
}

.judul2{
    text-align: center;
    font-size: 35px;
    font-weight: 400;
}

.vs{
    text-align: center;
    color: red;
    font-weight: 700;
    font-size: 72px;
    margin-top: 30vh;
}

#result{
    margin-top: 30vh;
    margin-left: 70px;
    background-color: transparent;
    border: none;
    height: 120px;
    width: 30vh;
    position: absolute;
    -webkit-transform: rotate(340deg);
    -moz-transform: rotate(340deg);
    -ms-transform: rotate(340deg);
    -o-transform: rotate(340deg);
    transform: rotate(340deg);
}

.refresh{
    width: 50px;
    height: 50px;
    margin-top: 28vh;
    margin-left: 22vh;
}

#player{
    margin-left: 110px;
    margin-top: 50px;    
}

.pilihPlayer{
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-top: 15px;
}

.pilihPlayer:hover{
    background-color:#ccc;
    border-radius: 10px;
}

#comp{
    margin-left: 110px;
    margin-top: 50px;    
}

.pilihanComp{
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-top: 15px;
}

.active {
    background-color: #ccc;
    border-radius: 10px;
}

.non-active{
    background-color: transparent;
}