body{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.bg-img{
    background-image: url(../img/main-bg.jpg);
    background-size: cover;
    position: relative;
    margin-top: 0px;
    margin-left: -20px;
    height: 100vh;
    width: 200vh;
}

.navbar{
    margin-left: -10px;
    margin-right: -10px;
    max-width: auto;
    opacity: 90%;
    height: 60px;
}

.navbar-brand{
    margin-top: 10px;
    margin-left: 70px;
    font-weight: 700;
}

.nav-item{
    font-weight: 700;
    margin-right: 5px;
}

.nav-left{
    margin-left: 150px;
}

.nav-right{
    margin-left: 400px;
}

.judul1{
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    font-size: 70px;
    padding-top: 200px;
}

.judul2{
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
    margin-left: -20px;
    font-size: 24px;
    font-weight: 400;
}

.btn-primary{
    background-color: #ffb548;
    width: 200px;
    height: 45px;
    position: relative;
    margin-left: 500px;
    margin-top: 30px;
    border: 0px;
}

.next{
    margin-top: 200px;
    margin-left: 582px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
}

.segitiga{
    height: 0px;
    width: 0px;
    border-top: solid 10px #ffffff;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    margin-bottom: 2px;
    margin-top: -10px;
    margin-left: 605px;
}

.bg-img2{
    background-image: url(../img/the-games-bg.jpg);
    background-size: cover;
    position: relative;
    width: 200vh;
    height: 100vh;
    margin-top: 0px;
    margin-left: -20px;
    border: transparent;
}

.judul3{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-left: 165px;
    margin-top: 100px;
}

.judul4{
    color: #ffffff;
    font-size: 56px;
    font-weight: 400;
    margin-left: 165px;
}

.img{
    background-image: url(../img/rockpaperstrategy-1600.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
    margin-top: 150px;
}

.segitiga1{
    height: 0px;
    width: 0px;
    border-right: solid 10px #fff;
    border-bottom: solid 8px transparent;
    border-top: solid 8px transparent;
}

.bg-img3{
    background-image: url(../img/features.jpg);
    background-size: cover;
    position: relative;
    width: 200vh;
    height: 100vh;
    margin-top: 0px;
    margin-left: -20px;
}

.judul5{
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    margin-left: 750px;
    padding-top: 180px;
}

.judul6{
    color: #ffffff;
    font-size: 56px;
    font-weight: 400;
    margin-left: 750px;
    margin-top: 10px;
}

.list{
    margin-left: 730px;
    margin-top: 25px;
}

.tulisan{
    color: #FFB548;
    margin-left: 15px;
}

.list1{
    color: #fff;
}

.tulis{
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    width: 200px;
    margin-top: -10px;
    margin-left: 15px;
}

.garis{
    border: 1px #fff solid;
    height: 100px;
    width: 0px;
    margin-top: -60px;
    margin-left: -12px;
}

.list2{
    list-style-type: circle;
    color: white;
    margin-top: -10px;
    height: 50px;
}

.list3{
    list-style-type: circle;
    color: white;
}

.bg-img4{
    background-image: url(../img/requirements.png);
    background-size: cover;
    position: relative;
    width: 200vh;
    height: 100vh;
    margin-top: 0px;
    margin-left: -20px;
}

.judul7{
    color: #fff;
    padding-top: 100px;
    font-size: 15px;
    margin-left: -100px;
}

.judul8{
    color: #fff;
    font-size: 56px;
    font-weight: 400;
    margin-left: 150px;
    margin-top: -50px;
}

.table{
    width: 80vh;
    height: 100%;
    margin-left: 150px;
    margin-top: 50px;
}

table, td{
    border: 1px solid gray;
    border-collapse: collapse;
}

.kolom{
    color:#FFB548;
    font-size: 18px;
    font-weight: 200;
}

.tulis2{
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    margin-top: -30px;
}

.bg-img5{
    background-image: url(../img/bg-5.jpeg);
    background-size: cover;
    position: relative;
    width: 200vh;
    height: 100vh;
    margin-top: 0px;
    margin-left: -20px;
}

.judul9{
    color: #fff;
    font-size: 56px;
    font-weight: 400;
    padding-top: 200px;
}

.tulis3{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}

.see{
    margin-left: 0px;
    margin-top:25px;
}

.mt{
    margin-top: 5rem;
}

.jumbotron{
    width: 100%;
    height: 100px;
}

.img-circle{
    width: 60px;
    height: 60px;
    margin-top: -80px;
    margin-left: -25px;
    border-radius: 80%;
}

.ikon-twitter{
    width: 10px;
    margin-top: -120px;
    margin-left: 30vh;
}

.name{
    margin-top: -80px;
    margin-left: 50px;
    color: #FFB548;
    font-size: 18px;
    font-weight: 400;
}

.job{
    margin-top: -25px;
    margin-left: 50px;
    color: #FFB548;
    font-size: 11px;
}

.quote{
    color: #fff;
    font-size: 12px;
    margin-left: -20px;
    margin-top: 35px;
    line-height: 1em;
}

.date{
    color: cadetblue;
    margin-left: -20px;
    margin-top: -12px;
    font-size: 10px;
}

.bg-img6{
    background-image: url(../img/footer.jpeg);
    background-size: cover;
    position: relative;
    width: 200vh;
    height: 95vh;
    margin-top: 0px;
    margin-left: -20px;
}

.gambar-piala{
    background-image: url(../img/piala.png);
    background-size: cover;
    height: 70vh;
    width: 50vh;
    margin-left: 80px;
    margin-top: 15px;
}

.btn-subscribe{
    position:unset;
    margin-top: -80px;
    margin-left: -190px;
}

.subscribe{
    height: 50px;
    color: black;
}

.tulis4{
    color: #fff;
    line-height: 1;
    font-size: 14px;
    margin-top: 80px;
}

.tulis5{
    color: #fff;
    line-height: 1;
    text-align: left;
    margin-right: 60px;
    font-weight: 400;
    font-size: 12px;
}

.judul10{
    color: #fff;
    font-size: 56px;
    font-weight: 400;
    margin-top: -20px;
}

.floating-label { 
    position: relative; 
    margin-bottom:0px; 
}
  
.floating-input , .floating-select {
    font-size:18px;
    padding:4px 4px;
    display:inline-block;
    width:300px;
    height:50px;
    border:none;
    border-bottom:1px solid #757575;
}
  
.floating-input:focus , .floating-select:focus {
    outline:none;
    border-bottom:2px solid #5264AE; 
}
  
label {
    color:chartreuse; 
    font-size:16px;
    font-weight:400;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:13px;
    transition:0.1s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
  
.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
    top:-2px;
    font-size:12px;
    color:chartreuse;
}
  
.floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
    top:-18px;
    font-size:14px;
    color:#fff;
}
  
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
width:100%;
}
  
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
.floating-textarea {
    min-height: 10px;
    max-height: 260px; 
    overflow:hidden;
    overflow-x: hidden; 
}

#nav-footer .nav{
    height: 30px;
    margin-top: -5px;
    margin-left: 62vh;
    margin-bottom: -15px;
}

#nav-footer .nav-link{
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.sosmed img{
    margin-left: 30px;
}

.line{
    width: 180vh;
    height: 0px;
    margin-left: 40px;
    margin-top: 20px;
    position: absolute;
    border: 1px solid transparent;
    border-top: 2px solid gray;
}

.copy{
    font-size: 14px;
    font-weight: 400;
    margin-left: 25px;
    margin-top: 30px;
    color: darkcyan;
}

.privacy{
    margin-top: -25px;
    margin-left: 36.5rem;
    text-align: right;
    color: #fff;
}

.footer{
    height: 20vh;
    width: 200vh;
    margin-left: -15px;
    background-color: transparent;
}