<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header_game') %>
</head>
<body>
    <%- include('../partials/body_game') %>
<!--JavaScript-->
    <script src="../../index.js"></script>
    <script src="../../js/script.js"></script>
</body>
</html>