<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
</head>
<body>
<!-- Halaman 1 -->
    <%- include('../partials/page-1') %>
<!-- Halaman 2 -->
    <%- include('../partials/page-2') %>
<!-- Halaman 3 -->
    <%- include('../partials/page-3') %>
<!-- Halaman 4 -->
    <%- include('../partials/page-4') %>
<!-- Halaman 5 -->
    <%- include('../partials/page-5') %>
<!-- Halaman 6 -->
    <%- include('../partials/page-6') %>

    <script src="../../index.js"></script>
</body>
</html>