<h1>LOGIN BACKEND</h1>
<form action="/api/backend/login" method="POST">
<input type="text" name="username" placeholder="Username" required><br><br>
<input type="password" name="pass" placeholder="Password" required><br><br>
<button type="submit">Submit</button>
</form>